.EditSettings__main {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
}

.EditSettings__container {
  margin: 40px 4vw;
  width: calc(100vw - 8vw);
  display: inline-block;
}

.EditSettings__title {
  font-size: 22px;
  margin-bottom: 15px;

}
.EditSettings__singleSetting {
  font-size: 15px;
  margin-bottom: 15px;

}

.EditSettings__singleSetting .EditSettings__link:hover {
  cursor: pointer;
}

.EditSettings__singleSetting .EditSettings__link {
  color: #6C917D;
}

