.items__main {
  width: 100vw;
  font-size: 16px;
}

.items__container {
  margin: 20px 40px 40px 40px;
}

.items__toolbar {
  position: relative;
  margin: 0 25px 20px 25px;
}

.items__toolbarLeft {
  display: inline-block;
  color: #aaa;
  font-size: 14px;
}

.items__toolbarRight {
  position: absolute;
  right: 0;
  display: inline-block;
  text-align: right;
}

.items__ghostCard {
  border: 1px solid transparent;
  width: 240px;
  height: 385px;
}

@media (max-width: 1000px) {
  .items__container {
    margin: 15px 15px 15px 15px;
  }
  .items__toolbar {
    margin: 0 0 15px 0;
  }
}