.profil__main {
  width: 100vw;
  height: 100vh;
}

.profil__container {
  margin: 40px 4vw;
  width: calc(100vw - 8vw);
  text-align: center;
}

.profil__containerRight {
  display: inline-block;
  vertical-align:top;
  width: 200px;
  /*border: 1px solid blue;*/
  text-align: left;
}

.profil__containerCenter {
  display: inline-block;
  vertical-align:top;
  width: calc(100vw - 50px - 50px - 200px - 200px - 20px);
  max-width: 1200px;
  /*border: 1px solid green;*/
  text-align: left;
}

.profil__containerLeft {
  display: inline-block;
  vertical-align:top;
  width: 200px;
  /*border: 1px solid red;*/
  text-align: left;
}

.profil__hello {
  display: inline-block;
  vertical-align: top;
  font-size: 26px;
  padding: 1em 2em;
}

.profil__lastSeenOnline {
  font-size: 12px;
}

