.ant-card-meta {
  text-align: center;
}

.itemcard__container {
  width: 240px;
  height: 385px;
  margin-bottom: 30px;
  border: 1px solid #f0f0f0; 
  background-color: rgba(100,100,100,.02);
  border-radius: 2px;
  box-sizing: border-box;
  transition: box-shadow 0.3s, border-color 0.3s;
  cursor: pointer;
}

.itemcard__container:hover {  
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.itemcard__picture {
  width: 240px;
  height: 320px;
  opacity: 1;
  transition: filter .5s;
}

.itemcard__logoover {
  width: 240px;
  position: absolute;
  top: 0;
  left: 0;
  color: #f0f0f0;
  text-align: center; 
  padding-top: 125px;
  font-size: 27px;
  display: none;
}

.itemcard__archived{
  width: 240px;
  height: 320px;
  position: absolute;
  top: 0;
  left: 0;
  color: #f0f0f0;
  text-align: center; 
  padding-top: 125px;
  font-size: 27px;
  background-color: rgba(109, 145, 126, .5);
  display: block;
}

.itemcard__actionsContainer {
  border: 1px solid transparent;
  position: absolute;
  top: 0px;
  right: -1px;
  width: 0px;
  text-align: center;
  font-size: 17px;
  padding: 5px 7px;
  background-color: rgb(255,255,255);
  opacity: 0;
  transition: width 0.3s;
  display: block;
  border-bottom-left-radius: 2px;
}

.itemcard__meta {
  width: 240px;
  position: absolute;
  height: calc(385px - 320px);
  padding: 10px 15px;
}

.itemcard__metaPrivate {
  background-color: rgba(240, 240, 240, .75); 
}

.itemcard__metaFavorite::before {
  position: absolute;
  top: -35px;
  left: 5px;
  content: "♥";      
  font-family: "Font Awesome 5 Free"; 
  font-weight: 600;
  font-size: 100px;
  color: rgba(254, 200, 200, .25); 
  clip-path: inset(0px 0px 58px 0px);
  z-index: -1;
}

.itemcard__meta .itemcard__date {
  font-size: 12px;
  color: #999;
}

.itemcard__meta .itemcard__private {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  margin-top: 15px;
  font-size: 24px;
  color: rgba(191, 64, 64, .75);
}

.itemcard__metaPrivateFavorite::before {
  position: absolute;
  top: -35px;
  left: 5px;
  content: "♥";      
  font-family: "Font Awesome 5 Free"; 
  font-weight: 600;
  font-size: 100px;
  color: rgba(100, 100, 100, .33); 
  clip-path: inset(0px 0px 58px 0px);
  z-index: -1;
}

.item__spinner {
  text-align: center;
  border-radius: 4px;
  padding-top: 160px;
  width: 240px;
  height: 320px;
}

.itemcard__actionsLogo {
  display: none; 
}
