.LookDetailFormElement__container {
    margin-top: 5px; 
    margin-bottom: 10px; 
} 

.LookDetailFormElement__title {
    display: inline-block;
    text-transform:capitalize;
} 

.LookDetailFormElement__input, .LookDetailFormElement__dropdown {
    display: inline-block;
    margin-left: 10px;
} 

.LookDetailFormElement__element {
    color: #909090;
} 

.LookDetailFormElement__selectElement {
    color: #c0c0c0;
    font-weight: 300;
    cursor: pointer; 
} 

.LookDetailFormElement__helpIcon {
    display: inline-block;
    margin-left: 4px;
    font-size: 12px;  
    color: rgba(109, 145, 126, .5);
    cursor: pointer; 
}

.LookDetailFormElement__missingIcon {
    display: inline-block;
    margin-left: 4px;
    font-size: 12px;  
    color: rgba(169, 50, 38, 1);
}

.LookDetailFormElement__helpIcon:hover {
    color: rgba(109, 145, 126, .8);
}