.LookDetailFormElement {
  &__container {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

@media (width <= 540px) {
  .LookDetailFormElement {
    &__container {
      flex-wrap: wrap;
      gap: 8px;
      align-items: flex-start;
    }
  }
}
