.title__container {
    display: inline-block;
};

.title__containerItem {
    display: inline-block;
};

.title__input {
    font-size: 36px;
}

@media (max-width: 540px) {
    .title__containerItem {
        width: 100%;
        text-align: center;
    }
  }