.imageEditBar__imageEditBar {
    position: absolute;
    z-index: 2;
    margin: 10px;
    bottom: 0px;
    right: 0px;

    .imageEditBar__imageEditBarItem {
        border: 1px solid #f0f0f0;
        border-radius: 2px;
        background-color: rgba(255,255,255,.5);
        padding: 3px 7px;
        display: inline-block;
        margin-left: 5px;
        cursor: pointer;
        &:hover {
            background-color: rgba(255,255,255,.95);
        }
    }

    .imageEditBar__rotate90{
        transform: rotate(90deg); 
    }
}
