.search__container {
  position: relative;
  padding: 30px 40px 0 40px;  
  min-height: calc(100vh - 50px - var(--footerHeight)); /* 50px for menu */
  width: 100%;

  .highlight {
    background-color: yellow;
    font-weight: bold;
  }
  
  .search__results {
    margin: 15px 0 0 0;
    font-weight: 300;
    letter-spacing: 3px;
    color: #999;
    width: 100%;
  }

  .search__empty{
    color: #ddd;
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 12px;
    width: calc(100vw - 80px);
    height: calc(100vh - 310px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .search__subContainer {
    margin: 20px 0;
    width: 100%;
    .search__title {
      border-bottom: 1px solid #999;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 3px;
    }
    .search__resultItem {
      margin-top: 10px;
      cursor: pointer;
      &:hover {
        background-color: #edf1ef;
      }
      .search__resultItemPictures {
        display: inline-block;
        width: 70px;
        height: 70px;
        .search__picture{
          width: 70px;
          height: 70px;
          object-fit: cover;
        }
      }
      .search__resultItemData {
        display: inline-block;
        padding-left: 10px;   
        vertical-align: bottom;
        .bold {
          font-weight: 600;
        }
        .grey {
          color: #666;
        }
        .search__resultItemDataRow {
          width: 100%;
          height: 35px;
          display: flex;
          align-items: center;
        }
      }
    }
   }
}


@media (max-width: 800px) {
  .search__container {
    padding: 20px 20px;
    width: calc(100%);
    min-height: calc(100vh - 50px - 340px); /* 50px menu, 340px footer */
  }
}