.search__container {
  position: relative;
  padding: 30px 40px 40px 40px;
  width: 100%;
}


@media (max-width: 800px) {
    .search__container {
      padding: 15px 15px;
      width: calc(100%);
    }
  }