.detail__backArrowLook {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 10px 10px 0 10px;

    .detail__arrowIcon {
      font-size: 36px;
      color: rgba(0, 0, 0, 1);
    }
    
    .detail__arrowIcon:hover {
      color: rgba(109, 145, 126, 1);
    }
}

.detail__backArrowItem {
    position: absolute;
    z-index: 10;
    top: 50px;
    margin: 10px;
    width: 40px;
    height: 40px;

    .detail__arrowIcon {
      font-size: 36px;
      color: rgba(0, 0, 0, 1);
    }
    
    .detail__arrowIcon:hover {
      color: rgba(109, 145, 126, 1);
    }
}

@media (max-width: 540px) {
  .detail__backArrow {
    display: none;
  }  
}