.lookdetail__imageWrap {
    position: relative;
    overflow: hidden;
    margin-left: 72px;
    width: 480px;
    height: 640px;  
    border-radius: 2px;
    border: 1px solid #f0f0f0; 
}

.lookdetail__imageWrap .lookdetail__picture {
    z-index: 10;
    width: 480px;
    height: 640px;
    opacity: 1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.lookdetail__imageWrap .lookdetail__pictureBlur{
    position: absolute;
    z-index: -10;
    width: 480px;
    height: 640px;
    filter: blur(10px);
}

.lookdetail__header {
    padding: 14px;
}

.lookdetail__headerTitle {
    padding: 8px 0 0 18px;
    display: inline-block;
    vertical-align: top;
}

.lookdetail__headerTitleId {
    color: #c0c0c0;
}

.lookdetail__arrowIcon {
    font-size: 42px;  
    color: rgba(0, 0, 0, 1)
}

.lookdetail__arrowIcon:hover {  
    color: rgba(109, 145, 126, 1);
}