.EditSettings__main {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
}

.EditSettings__container {
  margin: 40px 4vw;
  width: calc(100vw - 8vw);
  text-align: center;
}

.EditSettings__containerRight {
  display: inline-block;
  vertical-align:top;
  width: 50px;
  /*border: 1px solid blue;*/
  text-align: left;
}

.EditSettings__containerCenter {
  display: inline-block;
  vertical-align:top;
  width: calc(100vw - 220px);
  max-width: 1200px;
  /*border: 1px solid green;*/
  text-align: left;
}

.EditSettings__containerLeft {
  display: inline-block;
  vertical-align:top;
  width: 50px;
  /*border: 1px solid red;*/
  text-align: left;
}


.EditSettings__title {
  font-size: 22px;
  margin-bottom: 15px;

}
.EditSettings__singleSetting {
  font-size: 15px;
  margin-bottom: 15px;

}

.EditSettings__singleSetting .EditSettings__link:hover {
  cursor: pointer;
}

.EditSettings__singleSetting .EditSettings__link {
  color: #6C917D;
}
