.profil__main {
  width: 100vw;
  height: auto;
  min-height: calc(100vh - 50px - 120px); /*50px menu, 120px footer*/
  text-align: center;
}

.profil__containerRight {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  text-align: left;
}

.profil__containerCenter {
  display: inline-block;
  vertical-align: top;
  width: calc(100vw - 200px - 200px);
  max-width: 1200px;
  text-align: left;
}

.profil__containerLeft {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}


.profil__containerCenterContent {
  margin: 15px 0 0 0;
}
