.ItemDetailFormElement__container {
  margin-left: 20px;
  margin-bottom: 10px;
}

.ItemDetailFormElement__title {
  display: inline-block;
  text-transform: capitalize;
}

.ItemDetailFormElement__input,
.ItemDetailFormElement__dropdown {
  display: inline-block;
  margin-left: 10px;
}

.ItemDetailFormElement__element {
  color: #909090;
}

.ItemDetailFormElement__selectElement {
  color: #c0c0c0;
  font-weight: 300;
  cursor: pointer;
}

.ItemDetailFormElement__helpIcon {
  display: inline-block;
  margin-left: 4px;
  font-size: 12px;
  color: rgba(109, 145, 126, 0.5);
  cursor: pointer;
}

.ItemDetailFormElement__missingIcon {
  display: inline-block;
  margin-left: 4px;
  font-size: 12px;
  color: rgba(169, 50, 38, 1);
}

.ItemDetailFormElement__helpIcon:hover {
  color: rgba(109, 145, 126, 0.8);
}

.textCursor {
  cursor: text;
}
