.info__container {
  margin: 20px 40px 40px 40px;
  min-height: calc(100vh - 50px - 190px - 60px); /*50px menu, 190px footer, 60px margin */
}

@media (max-width: 800px) {
  .info__container {
    margin: 20px;
    min-height: calc(100vh - 50px - 340px - 40px); /*50px menu, 340px footer, 40px margin */
  }
}