.likeContainerCard {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  margin-top: 5px;
}

.likeContainerCardItem {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  margin-top: 5px;
}

.likeContainerProfile {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.like {
  border: 1px solid transparent;
  display: inline-block;
  cursor: pointer;
}

.likeCount {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 20px;
  text-align: right;
  font-size: 14px;
  letter-spacing: 0;
}

.likeAvatarContainer {
  display: flex;
  gap: 5px;
}

.likeAvatar {
  width: 25px;
  height: 25px;
  margin: 0;
  border: 1px solid #f0f0f0;
}

.likeAvatarSpinner {
  border: 1px solid transparent;
  width: 25px;
  height: 25px;
  padding-top: 1px;
  padding-left: 4px;
}

.linkAvatarUsername {
  color: #fff !important;
  cursor: pointer;
}

.linkAvatarUsername:hover {
  text-decoration: underline;
}

@media (width <= 540px) {
  .likeContainerCardItem {
    width: 100%;
    position: relative;
    text-align: center;
  }

  .itemSpacer {
    margin-right: 20px;
  }
}
