
.profilFriends__followersContainer {
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 20px;
}
  
.profilFriends__followersTitle {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 5px;
}

.profilFriends__followersAvatar {
    border: 1px solid #f0f0f0;
    width: 46px;
    height: 46px;
    margin: 2px;
    display: inline-block;
    vertical-align: top;
}