.customMenu__main {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 50px;
  z-index: 10;
  background-color: #fafafa;
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
}

.customMenu__spacer {
  width: 100vw;
  height: 50px;
}

.customMenu__customDivider {
  border-bottom: 1px solid #f0f0f0;
  margin: 10px;
}

.customMenu__element {
  margin: 0px 20px 0px 20px;
  line-height: 49px;
  cursor: pointer;
  border-bottom: solid 1px #f0f0f0;
  transition: border-color 0.3s, color 0.3s;
  color: rgba(0, 0, 0, 0.75);
}

.customMenu__element:hover {
  color: rgba(109, 145, 126, 1);
  border-bottom: 1px solid rgba(109, 145, 126, 0.75);
}

.customMenu__elementDisabled {
  margin: 0px 20px 0px 20px;
  line-height: 49px;
  cursor: not-allowed;
  border-bottom: solid 1px #f0f0f0;
  transition: border-color 0.3s, color 0.3s;
  color: rgba(0, 0, 0, 0.25);
}

.selected {
  color: rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}

.customMenu__RewaerMotto {
  color: rgba(109, 145, 126, 0.85);
  margin: 0px 20px 0px 20px;
  line-height: 48px;
}

.customSubMenu__container {
  position: fixed;
  right: 15px;
  top: 50px;
  display: none;
  background-color: #fff;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
}

.customSubMenu__element {
  margin: 5px 0;
  padding: 5px 15px 5px 15px;
  line-height: 30px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.75);
  transition: border-color 0.3s, color 0.3s, background-color 0.3s;
}

.customSubMenu__element:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(109, 145, 126, 0.5);
}

.left {
  float: left;
}

.right {
  float: right;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .customMenu__RewaerMotto {
    display: none;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .customMenu__RewaerMotto {
    display: block;
  }
}
