.looks__main {  
  width: 100vw;
  height: 100vh;
  font-size: 16px;
}

.looks__container {
  margin: 20px 40px 40px 40px;
}

.looks__toolbar {
  margin: 0 25px 20px 25px;
}

.looks__toolbarLeft {
  display: inline-block;
  color: #aaa;
  font-size: 14px;
  width: 50%;
}

.looks__toolbarRight {
  display: inline-block;
  width: 50%;
  text-align: right;
}

.looks__toolbarRight .looks__toolbarIcon {
  padding: 0 8px;
  color: #aaa;
  cursor: pointer;
}

.looks__toolbarRight .looks__toolbarIcon:hover {
  color: #6C917D;
}

.looks__toolbarRight .looks__toolbarIconActive {
  color: #E74C3C;
}

.looks__spinner {
  width: 100vw;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}