.looks__main {  
  width: 100vw;
  font-size: 16px;
}

.looks__container {
  margin: 20px 40px 40px 40px;
}

.looks__toolbar {
  margin: 0 25px 20px 25px;
}

.looks__toolbarLeft {
  display: inline-block;
  color: #aaa;
  font-size: 14px;
  width: 50%;
}

.looks__toolbarRight {
  display: inline-block;
  width: 50%;
  text-align: right;
}

@media (max-width: 1000px) {
  .looks__container {
    margin: 15px 15px 15px 15px;
    border: 1px solid red;
  }
  .looks__toolbar {
    margin: 0 0 15px 0;
  }
}