.footerContainer {
    width: 100vw;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcfcfc;
    border-top: solid 1px #f0f0f0;
    z-index: 2;
}

.footerSubContainer {
    width: 100%;
    text-align: center;
    max-width: 1600px;
    padding: 10px;
}