.formElement__container {
  margin-left: 20px;
  margin-bottom: 10px;
}

.formElement__title {
  display: inline-block;
  text-transform: capitalize;
  margin-right: 5px;
}

.formElement__input,
.formElement__select {
  display: inline-block;
  width: 200px;
}

.formElement__container .ant-select-selector {
  border: 1px solid transparent !important;
  font-size: 16px !important;
  color: #909090 !important;
  padding: 0 !important;
}

.formElement__selectDisabled .ant-select-selector {
  background-color: white !important;
  color: #c0c0c0 !important;
  font-weight: 300 !important;
  font-size: 15px !important;
}

.formElement__selectDisabled .ant-select-arrow {
  display: none !important;
}

.formElement__element {
  color: #909090;
}

.formElement__selectElement {
  color: #c0c0c0;
  font-weight: 300;
  cursor: pointer;
}

.formElement__helpIcon {
  display: inline-block;
  margin-left: 4px;
  font-size: 12px;
  color: rgba(109, 145, 126, 0.5);
  cursor: pointer;
}

.formElement__missingIcon {
  display: inline-block;
  margin-left: 4px;
  font-size: 12px;
  color: rgba(169, 50, 38, 1);
}

.formElement__helpIcon:hover {
  color: rgba(109, 145, 126, 0.8);
}

.textCursor {
  cursor: text;
}
