.profil__actionContainer {
  margin-top: 20px; 
  text-align: right;
}

.profil__action {
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 7px; 
  cursor: pointer;
}

.profil__action:hover {
  color: rgba(109, 145, 126, 1);
}