@import url("../../style/colors.less");

.alreadyMember__title {
  font-weight: 200;
  font-size: 18px;
  display: inline-block;
}

.alreadyMember__action {
  font-weight: 400;
  font-size: 18px;
  display: inline-block;
}

@media (width <= 800px) {
  .alreadyMember__title,
  .alreadyMember__action {
    font-size: 14px;
  }
}
