.ProfileItem__container {
    border: 1px solid transparent;
}

.ProfileItem__itemContainer {
    margin: 0px 5px 10px 5px;
}

.ProfileItem__picture {
    cursor: pointer;
  }

.ProfileItem__picture:hover {
    opacity: .75;
    border: 1px #d9d9d9;
}

.ProfileItem__titleContainer {
    margin: 0 15px 15px 15px ;
    font-weight: 300;
    font-size: 12px;
    display: none;
} 

.ProfileItem__titleContainerLeft {
    text-align: left;
    display: inline-block;
    width: 30%;
} 

.ProfileItem__titleContainerRight {
    text-align: right;
    display: inline-block;
    width: 30%;
} 

.ProfileItem__titleContainerCenter {
    text-align: center;
    display: inline-block;
    width: 40%;
} 