.ProfileItem__container {
    border: 1px solid transparent;
}

.ProfileItem__itemContainer {
    margin: 0px 5px 10px 5px;
}

.ProfileItem__picture {
    cursor: pointer;
  }

.ProfileItem__picture:hover {
    opacity: .75;
    border: 1px #d9d9d9;
}