/*@import "~antd/dist/antd.css";*/

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  letter-spacing: 1.5px;
}

.App a:link,
a:visited {
  transition: color 0.3s;
  color: rgba(109, 145, 126, 0.75);
}

.App a:hover {
  color: rgba(109, 145, 126, 1);
}

.link {
  color: rgba(109, 145, 126, 0.75);
  cursor: pointer;
}

.striked {
  text-decoration: line-through;
}

.link:hover {
  color: rgba(109, 145, 126, 1);
}

.pointerCursor {
  cursor: pointer;
}

.App .spinner {
  width: 100vw;
  height: calc(100vh - 50px); /*50px menu, -(x)px footer*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iconRed {
  color: rgba(180, 0, 0, 1);
}

.iconRedHover:hover {
  color: rgba(180, 0, 0, 1);
}

.iconGoldHover:hover {
  color: rgba(241, 196, 15, 1);
}

.iconGreen {
  color: #6c917d;
}

.iconGreenHover:hover {
  color: #6c917d;
}

.greyed {
  color: #aaa;
}

.lightGreyed {
  color: #ddd;
}
