.menu__spacer {  
    width: 100vw;
    height: 50px;
    z-index: 0;
}

.menu__main {   
    position: fixed; 
    top: 0;
    width: 100vw;
    z-index: 10;
    background-color: #fff;
}

.menu__customDivider {
    border-bottom: 1px solid #f0f0f0;
    margin: 10px;
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .menu__RewaerMotto { 
        display: none;
    }
}
  
  /* Large screens */
@media only screen and (min-width: 600px) {
    .menu__RewaerMotto { 
        display: block;
    }
}