.lookdetail__container {
  height: calc(70vh + 130px);
}

.lookdetail__backArrow {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.lookdetail__arrowIcon {
  font-size: 36px;
  color: rgba(0, 0, 0, 1);
}

.lookdetail__arrowIcon:hover {
  color: rgba(109, 145, 126, 1);
}

.lookdetail__imageWrap {
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 480px;
  height: 640px;
  border-radius: 2px;
  border: 1px solid #f0f0f0;
  margin-left: 40px;
}

.lookdetail__imageWrap .lookdetail__picture {
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.lookdetail__imageWrap .lookdetail__pictureBlur {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  filter: blur(15px);
  opacity: 0.85;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.lookdetail__header {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 40px);
  height: 45px;
  font-size: 15px;
}

.lookdetail__headerTitle {
  padding: 6px 0 0 12px;
  display: inline-block;
  vertical-align: top;
}

.lookdetail__headerTitleId {
  color: #c0c0c0;
  font-weight: 200;
}

.lookdetail__headerSelectCategory {
  color: #c0c0c0;
  font-weight: 300;
  cursor: pointer;
}

.lookdetail__headerCategory {
  color: #000;
}

.lookDetail__rightContainer {
  display: inline-block;
  vertical-align: top;
  height: calc(100% - 40px);
  width: 520px;
  border: 1px solid red;
}

.lookDetail__actionContainer {
  padding-left: 40px;
  margin-top: 20px;
}

.lookdetail__headerPoints {
  display: inline-block;
  vertical-align: middle;
  font-size: 5px;
  padding: 0 10px;
}

.lookdetail__headerShowPrivate {
  position: absolute;
  right: 75px;
  font-size: 14px;
}

.lookdetail__headerItemCount {
  color: #c0c0c0;
  display: inline-block;
  font-weight: 300;
}


@media (max-width: 540px) {
  .lookdetail__backArrow {
    display: none;
  }  
}