.ant-card-meta {
  text-align: center;
}

.lookcard__container {
  width: 240px;
  height: 385px;
  margin-bottom: 30px;
  border: 1px solid #f0f0f0; 
  border-radius: 2px;
  box-sizing: border-box;
  transition: box-shadow 0.3s, border-color 0.3s;
  cursor: pointer;
  /*background-color: black;*/
}

.lookcard__container:hover {  
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.lookcard__picture {
  width: 240px;
  height: 320px;
  opacity: 1;
}

.lookcard__meta {
  width: 240px;
  height: calc(385px - 320px);
}

.card__spinner {
  text-align: center;
  border-radius: 4px;
  padding-top: 160px;
  width: 240px;
  height: 385px;
}
