.ant-card-meta {
  text-align: center;
}

.lookcard__container {
  width: 240px;
  height: 385px;
  margin-bottom: 30px;
  border: 1px solid #f0f0f0; 
  border-radius: 2px;
  box-sizing: border-box;
  transition: box-shadow 0.3s, border-color 0.3s;
  cursor: pointer;
}

.lookcard__container:hover {  
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.lookcard__picture {
  width: 240px;
  height: 320px;
  opacity: 1;
  transition: filter .5s;
}

.lookcard__logoover {
  width: 240px;
  height: 320px;
  position: absolute;
  top: 0;
  left: 0;
  color: #f0f0f0;
  text-align: center; 
  padding-top: 125px;
  font-size: 27px;
  display: none;
}

.lookcard__archived{
  width: 240px;
  height: 320px;
  position: absolute;
  top: 0;
  left: 0;
  color: #f0f0f0;
  text-align: center; 
  padding-top: 125px;
  font-size: 27px;
  background-color: rgba(109, 145, 126, .5);
  display: block;
}

.lookcard__actionsContainer {
  border: 1px solid transparent;
  position: absolute;
  top: 0px;
  right: -1px;
  width: 0px;
  text-align: center;
  font-size: 17px;
  padding: 5px 7px;
  background-color: rgb(255,255,255);
  opacity: 0;
  transition: width 0.3s;
  display: block;
  border-bottom-left-radius: 2px;
}

.lookcard__meta {
  position: absolute;
  width: 240px;
  height: calc(385px - 320px);
  padding: 10px 15px;
}

.lookcard__metaPrivate {
  background-color: #f0f0f0; 
}

.lookcard__metaFavorite {
  background-color: rgb(254, 244, 244); 
}

.lookcard__metaFavorite::before {
  position: absolute;
  top: -75px;
  left: 5px;
  content: "♥";
  font-size: 140px;
  color: rgb(254, 230, 230); 
  clip-path: inset(0px 0px 80px 0px);
}

.lookcard__meta .lookcard__date {
  font-size: 12px;
  color: #999;
}

.lookcard__meta .lookcard__private {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  margin-top: 15px;
  font-size: 24px;
  color: rgba(191, 64, 64, .75);
}


.lookcard__meta .lookcard__likeContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  margin-top: 5px;
}

.lookcard__meta .lookcard__like {
  border: 1px solid transparent; 
}

.lookcard__meta .lookcard__likeCount {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 20px;
  text-align: right;
  margin-right: 10px;
  font-size: 14px;
  letter-spacing: 0px;
}

.look__spinner {
  text-align: center;
  border-radius: 4px;
  padding-top: 160px;
  width: 240px;
  height: 320px;
}

.lookcard__actionsLogo {
  display: none; 
}

.lookcard__favorite { 
  position: absolute;
  font-size: 19px;
  top: 4px;
  right: 7px;
  color: rgba(191, 64, 64, .75);
}

.lookcard__container .iconRed:hover {
  color: rgba(180, 0, 0, 1);
}

.lookcard__container .iconGold:hover {
  color: rgba(241, 196, 15, 1);
}

.lookcard__container .iconGreen:hover {
  color: #6C917D;
}

.greyed {
  color: #ccc;
}