.imageEditBar__imageEditBar {
    position: absolute;
    padding: 5px 7px;
    bottom: 7px;
    right: 7px;
    background-color: rgba(255,255,255,.5);
    /*border: 1px solid #f0f0f0;*/
}

.imageEditBar__rotate90{
    transform: rotate(90deg); 
}