.banner__container {
  position: absolute;
  z-index: 5;
  width: 100vw;
  font-size: 16px;
  background-color: #b5c8be;
  transition: max-height 0.5s linear;
  visibility: hidden;
}

.banner__desc {
  text-align: center;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  cursor: pointer;
}

.banner__desc:hover {
  background-color: #a3baae;
}

.banner__close {
  position: absolute;
  height: 100%;
  width: 36px;
  padding: 10px;
  z-index: 2;
  right: 0;
  top: 0;
  color: white;
  cursor: pointer;
}

.banner__close:hover {
  color: #6c917d;
  background-color: rgba(255, 255, 255, 0.25);
}
