.ProfileLook__container {
    border: 1px solid transparent;
}

.ProfileLook__lookContainer {
    margin: 0px 5px 20px 5px;
}

.ProfileLook__picture {
    cursor: pointer;
  }

.ProfileLook__picture:hover {
    opacity: .75;
    border: 1px #d9d9d9;
}