.ProfileLook__container {
    border: 1px solid transparent;
}

.ProfileLook__lookContainer {
    margin: 0px 5px 20px 5px;
}

.ProfileLook__picture {
    cursor: pointer;
  }

.ProfileLook__picture:hover {
    opacity: .75;
    border: 1px #d9d9d9;
}

.ProfileLook__titleContainer {
    margin: 0 15px 15px 15px ;
    font-weight: 300;
    font-size: 12px;
} 

.ProfileLook__titleContainerLeft {
    text-align: left;
    display: inline-block;
    width: 50%;
} 

.ProfileLook__titleContainerRight {
    text-align: right;
    display: inline-block;
    width: 50%;
} 